body{
  font-family: 'Open Sans', sans-serif;
}

.header{
  font-family: 'Baron Neue';
  background-color: #ffffff;
  display: flex;
  height: 76px;
  align-items: center;
  justify-content: space-between;
}

.header-logo img{
  height: 71px;
  display: center;
}

.header-menu ol{
  height: inherit;
  display: flex;
}

.header-menu ol li{
  height: inherit;
  list-style: none;
}

.header-menu a{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  height: inherit;
  color: black;
  display: flex;
  align-items: center;
  padding: 29px 22px;
}

.container{
  border: 1px solid red;
  width: 100%;
  display: inherit;
  height: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.hero{
  background-color: black;
  color: white;
  /* text-transform: uppercase; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 105px;
}

.hero strong{
  color: #FFCB39;
}

.hero img{
  width: 720px;
}

.about-title-container{
  text-transform: uppercase;
  font-family: 'Baron Neue';
  display: flex;
  justify-content: center;
}

.about{
  background-color: #FFCB39;
  padding: 36px;
}

.about-me{
  display: flex;
  background-color: #FFDD7A;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.about-details{
  width: 500px;
  margin: 158px 275px;
  display: inline-block; 
}

.about-image-container{
  background-color: #FDB433;
  border: 1px solid green;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.about-image{
  padding:50px;
  width: 350px;
  height: 350px;
}

.objectives-title{
  text-transform: uppercase;
  font-family: 'Baron Neue';
  display: flex;
  justify-content: center;
}

.objectives-article{
  
  display: flex;
  background-color: #D14C29;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  
}

.objectives-details{
  font-size: 44pt;
  margin: 0px 0px 0px 91px;
  display: inline-block; 
}

.knowledge-list-title{
  text-transform: uppercase;
  font-family: 'Baron Neue';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.knowledge-list{
  display: flex;
  flex-wrap: wrap;
}

.certificate{
  margin: 44px 16px 44px 28px;
  /* width: 720px; */
  flex-shrink: 0;
  /* border-radius: 26px; */
  overflow: auto;
  background-color: white;
}

.certificate-image-container{
  margin: 0;
  border: 1px solid red;
  padding: 37px;
}

.certificate-image{
  /* width: 720px; */
  height: 480px;
  object-fit: cover;
}

.container-knowledge-list{
  background-color: #FFDD7A;
  border: 1px solid red;
  width: 100%;
  display: inherit;
  height: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.portfolio-title{
  text-transform: uppercase;
  font-family: 'Baron Neue';
  display: flex;
  justify-content: center;
}

.contact{
  background-color: #5D150E; 
  /* padding: 150px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-title{
  font-family: 'Baron Neue';
  text-transform: uppercase;
  color: white;
}

.form-email{
  /* height: 50px; */
  margin: 0px 0px 17px 70px;
}


.contact-submit{
  border: 1px white solid;
  background: transparent;
  color: white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.contact-input{
  font-family: 'Open Sans';
  border: 1px gray solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.social{
  display: flex;
  justify-content: space-evenly;
  padding: 0px 70px 0px 0px;
}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  /* padding: 0px 70px 0px 0px; */
}

.social-link.twitter{
  background-image: url('../images/twitter.svg');
}

.social-link.github{
  background-image: url('../images/github.svg');
}


.footer{
  background-color: white;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info{
  font-family: 'Baron Neue';
  /* text-transform: uppercase; */
  margin: 10px 0px 10px 70px;
}

.footer-designed{
  font-family: 'Baron Neue';
  margin: 10px 70px 10px 0px;
}
.footer-designed a{
  color: #F05631;
  text-decoration: none;
}

.footer-info strong{
  color: #FFCB39;
}