body{
  font-family: 'Open Sans', sans-serif;
}

.header{
  font-family: 'Baron Neue';
  background-color: #ffffff;
  display: flex;
  height: 76px;
  align-items: center;
  justify-content: space-between;
}

.header-logo img{
  height: 71px;
  display: center;
}

.header-menu ol{
  height: inherit;
  display: flex;
}

.header-menu ol li{
  height: inherit;
  list-style: none;
}

.header-menu a{
  text-decoration: none;
  font-weight: 700;
  height: inherit;
  color: black;
  display: flex;
  align-items: center;
  padding: 29px 22px;
}

.container{
  border: 1px solid red;
  width: 100%;
  display: inherit;
  height: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.hero{
  background-color: black;
  color: white;
  /* text-transform: uppercase; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 105px;
}

.hero strong{
  color: #FFCB39;
}

.hero img{
  width: 720px;
}

.about-title-container{
  display: flex;
  justify-content: center;
}

.about{
  background-color: #FFCB39;
  padding: 36px;
}

.about-me{
  display: flex;
  background-color: #FDB433;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.about-details{
  width: 500px;
  margin: 158px 275px;
  display: inline-block; 
}

.about-image-container{
  background-color: #5D150E;
  border: 1px solid green;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.about-image{
  padding:50px;
  width: 350px;
  height: 350px;
}
